:root {
    --primary-color: #87D68D;   /*LIGHT GREEN*/
    --secondary-color: #60712F;  /* FERN GREEN*/
    --accent1-color:  #CDE6F5;  /* COLUMBIA BLUE*/
    --accent2-color: #474954;   /*CHARCOAL*/
}

.open-sans-semibold {
    font-family: "Open Sans", sans-serif;
    font-weight: 600; 
    font-style: normal;
}

.open-sans-light {
    font-family: "Open Sans", sans-serif;
    font-weight: 300; 
    font-style: normal;
}

nav a {
    color: var(--accent2-color);
    font-size: 1.2rem;
    padding: 10px;
}

h1, h2 {
    color: var(--secondary-color); 
    font-family: "Open Sans", sans-serif;
    font-weight: 600; 
    font-style: normal;
}

p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
}


.social-links a {
    text-decoration: none; 
}

.social-links a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-links a img:hover {
    transform: scale(1.2);
}

.hero {
    position: relative; 
    width: 100%;
    height: 400px; 
    padding-bottom: 150px;
}

.hero img {
    width: 100%; 
    height: auto;
    display: block; 
}

.hero h1 {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2.8rem;
    text-shadow: 2px 4px rgba(0, 0, 0, 1000);
}


.hero article {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    background: rgba(0, 0, 0, .7); 
    padding: 20px;
    border-radius: 8px;
    color: white;
    align-items: center;
    gap: 15px;
}

.hero article img {
    width: 150px;
    height: auto;
    border-radius: 20%;
    float: right; 
}

@media (max-width: 768px) {
    .hero {
        height: auto;
    }
    
    .hero h1 {
        font-size: 2rem;
    }

    .hero article {
        flex-direction: column;
        text-align: center;
    }

    .hero article img {
        float: none;
    }
}