:root {
    --border: 1px solid black;
    --primary-color: darkblue;
    --text-color: white;
    --background-light: #eee;
    --padding: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 0;
    box-shadow: 0 0 30px gray;
}

main {
    max-width: 840px;
}

p {
    margin: 10px;
    padding: 6px;
}

aside {
    position: relative;
    width: 300px;
    height: auto;
    margin: 20px;
    border: 2px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: azure;
    color: black;
    }
    

aside img {
    width: 250px;
    height: auto;
    border: var(--border);
    

}


.overlay-container {
    position: relative;
    display: inline-block;
}

.overlay-container img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-container h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
    color: white;
    padding: 8px 12px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

aside h2 {
    position: absolute;
    left: 70px;
    top: 20px;
}
footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0/10%);
    padding: 1rem;
    background-color: lightskyblue;
    color: #000;
}